@import "../../assets/styles/imports";
.paginate {
  @include flexCustom(center, space-between);
  max-width: 220px;
  &__arrow {
    a {
      color: $main-green-cl;
    }
  }
  & > a {
    @include flexCustom;
    color: $light-grey-cl;
    width: 30px;
    height: 30px;
    @include transition($t);
    flex-shrink: 0;
    border-radius: 50%;
  }
  & > a.active {
    color: $white-cl;
    background-color: $main-green-cl;
    border-radius: 50%;
  }
}
